<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <style>
    </style>
    <!-- 引入 echarts.js -->
    <script src="/static/echarts.min.js"></script>
    <script src="/static/jquery-3.1.1.js"></script>
</head>
{% load staticfiles %}
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div style="position:relative;width: 82%;height:35%;">
    <img src="{% static 'study/background.jpg' %}" height="100%" width="100%">
    <div id="main" style="position:absolute;width:100%;height:100%;left:0px;top:0px"></div>
</div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var data = [
        [39, 22.4, 1, '所在位置', 0],
    ];

    var option = {
        grid: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
        },
        xAxis: {
            show: false,
            position: 'top',
            gridIndex: 0,
            offset: 0,
            min: 0,
            max: 82.29,
            axisLabel: {
                inside: true
            }
        },
        yAxis: {
            splitLine: {
                lineStyle: {
                    type: 'dashed'
                }
            },
            inverse: true,
            min: 0,
            max: 34.4,
            show: false,
            axisLabel: {
                inside: true
            }
        },
        series: [{
            name: 'location',
            data: data,
            type: 'effectScatter',
            symbolSize: 25,
            label: {
                emphasis: {
                    show: true,
                    formatter: function (param) {
                        return param.data[3];
                    },
                    position: 'top'
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(120, 36, 50, 0.5)',
                    shadowOffsetY: 5,
                    color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                        offset: 0,
                        color: 'rgb(251, 118, 123)'
                    }, {
                        offset: 1,
                        color: 'rgb(204, 46, 72)'
                    }])
                }
            }
        }]
    };

    setInterval(function () {

        $.getJSON("{% url 'study:getcord' %}", function (ret) {
            //返回值 ret 在这里是一个列表
            console.log(ret)
            if (ret[0] != -1 && ret[1] != -1) {
                var datadetail = [];
                datadetail[0] = ret[0]
                datadetail[1] = ret[1]
                datadetail.push('position');
                datadetail.push('所在位置');
                data = [];
                data.push(datadetail);
                myChart.setOption({
                    series: [{
                        name: 'location',
                        data: data
                    }]
                });
            }
        });

    }, 1000);

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    window.onresize = myChart.resize;
</script>
</body>

</html>
